<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head th:replace="layout/layout :: head">
    <meta charset="utf-8" />
    <title></title>
    <LINK REL=StyleSheet HREF="css/estilosdetalle.css" TYPE="text/css" MEDIA=screen>

</head>
<body>
<header th:replace="layout/layout :: header">
        <div id="Logo"> <img src="images/logo.png" /> </div>
        <div id="Nombre"><p><br /><br />EMPRESA DE ALQUILER SALQUES</p></div>
    </header>
    <section>
        <div id="Diseño">
            <div id="Casa"><img src="images/hab.png"/> </div>
            <div id="Interior">
                <h1>Descripcion</h1>
                <p>
                    Nunc semper justo in commodo congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dui odio, mattis et blandit in, laoreet ut dui. Praesent sollicitudin mauris vel ipsum fermentum, vel dapibus lectus accumsan. Donec pharetra bibendum elit nec dictum. Cras dapibus diam nisl, ac cursus enim maximus eget. Pellentesque vitae mattis dolor. Morbi accumsan felis nisi, in pretium lacus varius lobortis. In nisl eros, scelerisque a eros eu, pretium feugiat nulla. Quisque eget sapien sed dolor auctor efficitur elementum at quam. Duis feugiat leo ac est tempus, non ullamcorper mi placerat.

                </p>
            </div>
        </div>
        <div id="Descripcion">
            <div id="Detalle"> 
                <h1>Descripcion</h1>
                <p>
                    Nunc semper justo in commodo congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dui odio, mattis et blandit in, laoreet ut dui. Praesent sollicitudin mauris vel ipsum fermentum, vel dapibus lectus accumsan. Donec pharetra bibendum elit nec dictum. Cras dapibus diam nisl, ac cursus enim maximus eget. Pellentesque vitae mattis dolor. Morbi accumsan felis nisi, in pretium lacus varius lobortis. In nisl eros, scelerisque a eros eu, pretium feugiat nulla. Quisque eget sapien sed dolor auctor efficitur elementum at quam. Duis feugiat leo ac est tempus, non ullamcorper mi placerat.

                </p>
            </div>
            <div id="Baño"><img src="images/hab.png" /></div>
        </div>

    </section>
        <footer><p>Precio:S/.??????</p></footer>
</body>
</html>